In [1]:
import pandas as pd

In [2]:
te_df = pd.read_csv('training_results_TE.csv')
msamp_df = pd.read_csv('training_results_FP8.csv')
bf16_df = pd.read_csv('training_results_BF16.csv')
fp32_df = pd.read_csv('training_results_NO.csv')

In [3]:
diff_results = pd.DataFrame()
diff_results["step"] = bf16_df["step"]
diff_results["diff_bf16"] = fp32_df["loss"] - bf16_df["loss"]
diff_results["diff_te"] = fp32_df["loss"] - te_df["loss"]
diff_results["diff_msamp"] = fp32_df["loss"] - msamp_df["loss"]

In [5]:
diff_results[["diff_bf16", "diff_te", "diff_msamp"]].sum()

diff_bf16     0.000000
diff_te      -0.344709
diff_msamp   -0.800935
dtype: float64

In [7]:
diff_results.tail()

      step  diff_bf16   diff_te  diff_msamp
4681  4681        0.0  0.018621    0.020352
4682  4682        0.0 -0.035379   -0.030467
4683  4683        0.0 -0.000916   -0.001147
4684  4684        0.0  0.000367    0.000804
4685  4685        0.0 -0.000497    0.000164

In [8]:
bf16_df["loss"].tail()

4681    0.215466
4682    0.194954
4683    0.010348
4684    0.012253
4685    0.031031
Name: loss, dtype: float64

In [9]:
te_df["loss"].tail()

4681    0.196845
4682    0.230333
4683    0.011264
4684    0.011886
4685    0.031527
Name: loss, dtype: float64

In [10]:
msamp_df["loss"].tail()

4681    0.195114
4682    0.225421
4683    0.011495
4684    0.011448
4685    0.030866
Name: loss, dtype: float64

In [11]:
te_valid_df = pd.read_csv('valid_results_TE.csv')
msamp_valid_df = pd.read_csv('valid_results_FP8.csv')
bf16_valid_df = pd.read_csv('valid_results_BF16.csv')
fp32_valid_df = pd.read_csv('valid_results_NO.csv')

In [12]:
import ast
convert_acc = lambda x: ast.literal_eval(x)["accuracy"]

te_valid_df["accuracy"] = te_valid_df["accuracy"].apply(convert_acc)
msamp_valid_df["accuracy"] = msamp_valid_df["accuracy"].apply(convert_acc)
bf16_valid_df["accuracy"] = bf16_valid_df["accuracy"].apply(convert_acc)
fp32_valid_df["accuracy"] = fp32_valid_df["accuracy"].apply(convert_acc)

In [13]:
valid_diff_results = pd.DataFrame()
valid_diff_results["step"] = bf16_valid_df["step"]
valid_diff_results["loss_diff_bf16"] = fp32_valid_df["loss"] - bf16_valid_df["loss"]
valid_diff_results["loss_diff_te"] = fp32_valid_df["loss"] - te_valid_df["loss"]
valid_diff_results["loss_diff_msamp"] = fp32_valid_df["loss"] - msamp_valid_df["loss"]
valid_diff_results["accuracy_diff_bf16"] = fp32_valid_df["accuracy"] - bf16_valid_df["accuracy"]
valid_diff_results["accuracy_diff_te"] = fp32_valid_df["accuracy"] - te_valid_df["accuracy"]
valid_diff_results["accuracy_diff_msamp"] = fp32_valid_df["accuracy"] - msamp_valid_df["accuracy"]

In [14]:
valid_diff_results.sum()

step                   4686.000000
loss_diff_bf16            0.000000
loss_diff_te              0.022278
loss_diff_msamp           0.007520
accuracy_diff_bf16        0.000000
accuracy_diff_te         -0.000360
accuracy_diff_msamp      -0.000840
dtype: float64

In [15]:
valid_diff_results.tail()

,step,loss_diff_bf16,loss_diff_te,loss_diff_msamp,accuracy_diff_bf16,accuracy_diff_te,accuracy_diff_msamp
0,1562,0.0,0.006430,-0.000510,0.0,-0.00020,-0.00020
1,1562,0.0,0.010856,0.003713,0.0,0.00008,-0.00028
2,1562,0.0,0.004992,0.004317,0.0,-0.00024,-0.00036